@{
    ViewBag.Title = "About Rubbish Removal";
    ViewBag.Message = "Our mission statement can be summed in simply with the lyrics from our close friend and confidant, Oscar the Grouch.";
}
<h2 style="text-align: center">@ViewBag.Title.</h2><hr />
<h3 style="text-align: center">@ViewBag.Message</h3> <hr />

<p style="text-align: center">Oh, I love trash!<br>
Anything dirty or dingy or dusty<br>
Anything ragged or rotten or rusty<br>
Yes, I love trash<br>
    <br>

I have here a sneaker that's tattered and worn<br>
It's all full of holes and the laces are torn<br>
A gift from my mother the day I was born<br>
I love it because it's trash<br>
    <br>
Oh, I love trash!<br>
Anything dirty or dingy or dusty<br>
Anything ragged or rotten or rusty<br>
Yes, I love trash<br>
    <br>
I have here some newspaper thirteen months old<br>
I wrapped fish inside it; it's smelly and cold<br>
But I wouldn't trade it for a big pot o' gold!<br>
I love it because it's trash<br>
    <br>
Oh, I love trash!<br>
Anything dirty or dingy or dusty<br>
Anything ragged or rotten or rusty<br>
Yes, I love trash<br>
    <br>
I've a clock that won't work<br>
And an old telephone<br>
A broken umbrella, a rusty trombone<br>
And I am delighted to call them my own!<br>
I love them because they're trash<br>
    <br>
Oh, I love trash!<br>
Anything dirty or dingy or dusty<br>
Anything ragged or rotten or rusty<br>
Yes, I love, I love, I love trash!</p>
