@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>

<address>
   123 Awesome Street<br />
    Wonderful, WI 53150<br />
    <abbr title="Phone">P: </abbr>
    1-800-Rubbish
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wehelpyou@nowedont.com">wehelpyou@nowedont.com</a><br />
</address>