@{
    ViewBag.Title = "Home Page";
}

<div class="container">
<div class="jumbotron">
    <p>You know what they say about one man's trash...</p>
    <p><a class="btn btn-primary btn-lg" value="About">Learn more &raquo;</a></p>
</div>
</div>
<div class="container">
    @*<div class="col-md-6">*@

        <h1><strong>Going on a Vacation?</strong></h1>
        <p>If you want to cancel your pickup for the time you'll be away, you can!</p>
    <p>@Html.ActionLink("Go On a Vacation", "Register", "Vacations") &raquo;</p>
    </div>
@*</div>*@