@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>Rubbish Removal</strong></h1>
    <p class="lead">You know what they say about one man's trash...</p>
    <p><a class="btn btn-primary btn-lg" value ="About">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>On Vacation?</h2>
        <p>
            You can easily update your pickup schedule for the time that you're away.
        </p>
        <p><a class="btn btn-default" value = "Edit">Change Pickup &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>New to Rubbish Removal?</h2>
        <p>Sign up today and we'll start collecting your rubbish tomorrow.</p>
        <p><a class="btn btn-default" value ="Register">Sign Up Now &raquo;</a></p>
    </div>
</div>